<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <title>Home</title>
</head>
<body>
    <nav th:replace="~{fragments :: navbar}"></nav>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto text-center">
                <h1>Hello Spring!</h1>
                <h2 th:text="'Best of the year by ' + ${name}"></h2>
            </div>
        </div>

    </div>


    <th:block th:replace="~{fragments :: scripts}"></th:block>

</body>
</html>