<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <title>Movies</title>
</head>
<body>
    <nav th:replace="~{fragments :: navbar}"></nav>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto text-center">
                <h1>Best movies</h1>
                <ul class="list-group" th:each="film : ${films}">
                    <li class="list-group-item"><a th:href="@{/movies/{id}(id=${film.id})}" style="text-decoration: none;">
                        [[${film.name}]]</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>



    <th:block th:replace="~{fragments :: scripts}"></th:block>

</body>
</html>